In [1]:
from Elet_prep import preprocessing

In [2]:
df = preprocessing()

In [3]:
df.head(10)

,Data,Tempo,Ano,Trimestre,Periodo,Potencia_ativa_total,Potencia_reativa_total,Tensao,Corrente_Total,Sub_area_cozinha,Sub_area_lavanderia,Sub_area_Aq_Ar
0,2006-12-16,1900-01-01 17:24:00,2006,4,Dia,4.22,0.42,234.84,18.40,0.00,1.00,17.00
1,2006-12-16,1900-01-01 17:25:00,2006,4,Dia,5.36,0.44,233.63,23.00,0.00,1.00,16.00
2,2006-12-16,1900-01-01 17:26:00,2006,4,Dia,5.37,0.50,233.29,23.00,0.00,2.00,17.00
3,2006-12-16,1900-01-01 17:27:00,2006,4,Dia,5.39,0.50,233.74,23.00,0.00,1.00,17.00
4,2006-12-16,1900-01-01 17:28:00,2006,4,Dia,3.67,0.53,235.68,15.80,0.00,1.00,17.00
5,2006-12-16,1900-01-01 17:29:00,2006,4,Dia,3.52,0.52,235.02,15.00,0.00,2.00,17.00
6,2006-12-16,1900-01-01 17:30:00,2006,4,Dia,3.70,0.52,235.09,15.80,0.00,1.00,17.00
7,2006-12-16,1900-01-01 17:31:00,2006,4,Dia,3.70,0.52,235.22,15.80,0.00,1.00,17.00
8,2006-12-16,1900-01-01 17:32:00,2006,4,Dia,3.67,0.51,233.99,15.80,0.00,1.00,17.00
9,2006-12-16,1900-01-01 17:33:00,2006,4,Dia,3.66,0.51,233.86,15.80,0.00,2.00,16.00